.container{
    height: 99vh;
}

.add-btn{
    position: relative;
    width: 100%;
    top: 30%;
    height: 5%;
}
.addboard{
    width: 35%;
    border-radius: 25px;
    background: #0588d6;
    font-size: 25px;
    color: white;

}
tr{
    color: white;
    font-size: 30px;
    position: relative;
    left: 5px;
    top: 95px;
}
.goadd{
    width: 100%;
    display: flex;
    justify-content: center;
}
a {
	color: white; 
	text-decoration: none; 
}


a:visited {
	color: white; 
}


a:hover {
	color: white; 
}


a:active {
	color: white; 
}
.table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #3498db;
    color: #fff;
}


