<html lang="ko" mxlns:th="http://www.thymeleaf.org">

<head th:fragment="headerFragmentHead">
    <link rel="stylesheet" href="/styles/header.css" />
</head>

<body>
    <div th:fragment="headerFragment" id="header" class="d-flex justify-content-between align-items-center px-2">
        <a href="/"><button class="btn btn-secondary btn-sm">다이어리</button></a>
        <a href="/"><button class="btn btn-secondary btn-sm">식단공유소</button></a>
        <a href="/"><button class="btn btn-secondary btn-sm">달력</button></a>
        <a href="/"><button class="btn btn-secondary btn-sm">내정보</button></a>
    </div>
</body>

</html>