<!DOCTYPE html>
<html>

<head mxlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="/styles/index.css" />
    <title>YAZIO</title>
</head>

<body>
    <div class="root">
        <div class="main">
            <div class="icon">
                <img src="styles/img/icon.png" style="height: 100px;">
                <h1 style="cursor: default;">YAZIO</h1>
            </div>
        </div>
        <div class="join">
            <a href="/login">로그인</a>
            <hr style="width: 155px;" />
            <a href="/join">회원가입</a>
        </div>

    </div>
</body>

</html>