<head mxlns:th="http://www.thymeleaf.org">
    
<head th:fragment="listFragmentHead">
    <link rel="stylesheet" href="/styles/main/diary.css" />
    <link rel="stylesheet" href="/styles/main/details.css" />
    <link rel="stylesheet" href="/styles/board/list.css" />
</head>

<body>
    <div class="container">
        <div class="head-container">
            <div class="head">
                <h1>식단 공유소</h1>
            </div>
            <div class="arrow-container">
                <a class="arrow-prev" href="/diary" style="cursor: pointer;">
                </a>
            </div>

        </div>
        <div th:fragment="boardFragment">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item:${list}" th:object="${item}">
                        <td>
                            <a th:href="@{/board/{id}(id=*{id})}" th:text="*{title}"></a>
                        </td>
                        <td class="user-name">
                            <div th:text="*{userName}"></div>
                        </td>
                </tbody>
            </table>
        </div>
        <div class="add-btn">
            <a href="/add" class="goadd"><button class="addboard" style="cursor: pointer;">글쓰기</button>
            </a>
        </div>
    </div>
</body>

</html>