<html lang="ko" mxlns:th="http://www.thymeleaf.org">

<head th:fragment="boardItemFragmentHead">
    <link rel="stylesheet" href="/styles/main/diary.css" />
    <link rel="stylesheet" href="/styles/main/details.css" />
    <link rel="stylesheet" href="/styles/board/view.css" />
</head>

<body>
    <div class="container">
        <div th:fragment="boardItemFragment" th:object="${board}" class="containers">
            <div th:text="*{title}" class="titles"></div>
            <div th:text=" '작성자: ' + *{userName}" class="user-name"></div>
            <div class="d-flex justify-content-between align-items-center">
                <div th:text=" '작성일: ' + *{createdAt}"></div>
            </div>
            <hr />
            <p th:utext="*{content}"></p>
        </div>
    <div class="back-btn">
        <a href="/board" class="back"><button class="back-btns" style="cursor: pointer;">돌아가기</button>
        </a>
    </div>
    </div>
</body>

</html>