.head-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 5%;
    margin-top: 90px;
    color: white;
}

.head{
    position: absolute;

}
.arrow-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.arrow-prev{
    float:left;
    right: 520px;
    width:66px;
    height: 76px;
    margin-right:5px;
}
.arrow-prev::after {
    position: absolute;
    left: 35px; 
    top: 20px;
    content: '';
    width: 35px; /* 사이즈 */
    height: 35px; /* 사이즈 */
    border-top: 3px solid #2884b7;
    border-right: 3px solid #2884b7;
    transform: rotate(225deg); /* 각도 */
}