body {
    margin: 0;
    background-color: #141414e8;
    display: flex;
    justify-content: center;

}

.container {
    background: #111926;
    width: 1024px;
    height: 185vh;
    border-radius: 35px;
    border: 2px solid white;
    padding: 0px;
    overflow: hidden;
}

.text-container {
    text-align: center;
    color: white;
    font-size: 30px;
    margin: -73px;

}

.summary {
    width: 100%;
    top: 75px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.summary-main {
    background: #1e2a36;
    width: 93%;
    border-radius: 35px;
    flex-wrap: wrap;
}

.nutrition {
    background: #1e2a36;
    width: 93%;
    height: 91%;
    border-radius: 35px;
}

.nutrition-container {
    position: relative;
    width: 100%;
    height: 30%;
    top: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chart-style {
    height: 200px;
    width: 100%;
    margin-top: -23px;

}

.center-text-container {
    position: relative;
    color: white;
    font-size: 30px;
    top: 19%;
    width: 6%;
    left: 140px;
    display: flex;
    justify-content: center;
}

#chart8 {
    position: relative;
}

.center-ment {
    color: white;
    font-size: 20px;
}

.width-chart0,
.width-chart1,
.width-chart2 {
    width: 23%;
    height: 50%;
}

.width-chart0 {
    left: 83px;
}

.width-chart1 {
    left: 388px;
}

.width-chart2 {
    right: 83px;
}

#horizontalBarChart0,
#horizontalBarChart1,
#horizontalBarChart2 {
    height: 78px;
}

#horizontalBarChart1 {
    left: -11px;
}

.span-container {
    height: 78px;
}

.province,
.protein,
.carbohydrate {
    width: 100%;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.province {
    right: 83px;
}

.protein {
    left: 378px;
}

.carbohydrate {
    left: 83px;
}

.width-cantainer {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.width-ment1,
.width-ment2,
.width-ment3 {
    width: 100%;
    top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.width-ment2 {
    left: -11px;
}

.morning,
.lunch,
.dinner,
.snack {
    color: white;
    width: 212px;
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    left: 170px;
}

.morning {
    top: -82px;
}

.lunch {
    top: -81px;
}

.dinner {
    top: -78px;
}

.snack {
    top: -77px;
}

#morning,
#lunch,
#dinner,
#snack {
    position: relative;
    top: 50px;
    right: 62px;
}

.moning-btn,
.lunch-btn,
.dinner-btn,
.snack-btn {
    height: 100%;
    padding: 16px;
    display: flex;
    justify-content: end;
    margin-top: -145px;
}



.btn,
.btn:link,
.btn:visited {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #3498db;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    background-color: #fff;
}

.btn::before {
    width: 5px;
    height: 50%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.btn::after {
    width: 50%;
    height: 5px;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
}


hr {
    position: relative;
    top: 10px;
}

img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 15px;
    top: 10px;
}

.title {
    color: white;
    width: 93%;
    height: 50px;
    font-size: 30px;
    position: absolute;
    right: top;
    top: -5%;
}

.view-Details {
    color: #195d8d;
    position: relative;
    left: 79%;
}

.summarys {
    position: relative;
    color: white;
    font-size: 30px;
    top: -13%;
    left: 0%;
    width: 100%;
}

.px-2 {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}

.morning-container,
.lunch-container,
.dinner-container {
    border-bottom: solid 1px white;
    height: 25%;
}

.lunch-container {
    top: -77px;
}

.dinner-container {
    top: -155px;
}

.width-chart-bar {
    width: 100%;
    height: 30px;
    background-color: #dedede;
    font-weight: 600;
    font-size: .8rem;
}

.width-chart-bar .width-bar1 {
    /* width: 72%; */
    height: 30px;
    padding: 0;
    text-align: center;
    /* background-color: #4F98FF; */
    color: #111;
}



