body {
    margin: 0;
    background-color: #141414e8;
    display: flex;
    justify-content: center;
}

.container {
    background: #111926;
    width: 1024px;
    height: 185vh;
    border-radius: 5%;
    border: 2px solid white;

}

.summary {
    width: 100%;
    height: 400px;
    top: 75px;
    position: relative;
    display: flex;
    justify-content: center;
}

.summary-main {
    background: #1e2a36;
    width: 900px;
    border-radius: 5%;
    height: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nutrition {
    background: #1e2a36;
    width: 900px;
    height: 91%;
    border-radius: 5%;
}

.nutrition-container {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 610px;
    left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chart-style {
    width: 300px;

}

.center-text-container {
    position: relative;
    color: white;
    font-size: 30px;
    top: 19%;
    width: 6%;
    left: 140px;
    display: flex;
    justify-content: center;
}

#chart8 {
    width: 290px;
    height: 335px;
    position: absolute;
    top: -70px;
}

.center-ment {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    position: relative;
    top: 43%;
    right: 3px;
}

.width-chart0,
.width-chart1,
.width-chart2 {
    position: absolute;
    width: 23%;
    top: 53%;
}

.width-chart0 {
    left: 83px;
}

.width-chart1 {
    left: 388px;
}

.width-chart2 {
    right: 83px;
}

#horizontalBarChart0,
#horizontalBarChart1,
#horizontalBarChart2 {
    height: 78px;
    position: absolute;
}
#horizontalBarChart1{
    left: -11px;
}
.span-container {
    height: 78px;
}

.water-record-container {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 131%;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.water-record {
    background: #26a1e4;
    width: 900px;
    height: 85%;
    border-radius: 5%;
}

.province,
.protein,
.carbohydrate {
    width: 23%;
    height: 38px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 73%;
}

.province {
    right: 83px;
}

.protein {
    left: 378px;
}

.carbohydrate {
    left: 83px;
}

.width-ment1,
.width-ment2,
.width-ment3 {
    position: absolute;
    width: 100%;
    top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.width-ment2{
    left: -11px;
}

.morning,
.lunch,
.dinner,
.snack {
    color: white;
    width: 130px;
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    left: 170px;
}

.morning {
    top: -82px;
}

.lunch {
    top: -81px;
}

.dinner {
    top: -78px;
}

.snack {
    top: -77px;
}

#morning,
#lunch,
#dinner,
#snack {
    position: relative;
    top: 50px;
    right: 62px;
}

#lunch-btn,
#morning-btn,
#dinner-btn {
    left: 89%;
}
#morning-btn{
    top: -109px;
}
#lunch-btn{
    top: -188px;  
}
#dinner-btn{
    top: -261px;
}
#snack-btn {
    top: -344px;
    left: 89%;
}

.btn,
.btn:link,
.btn:visited {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #3498db;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    background-color: #fff;
}

.btn::before {
    width: 5px;
    height: 50%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.btn::after {
    width: 50%;
    height: 5px;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
}

.water-btn::before,
.water-btn::after {
    content: "";
    position: absolute;
    background-color: #292929;
}

.water-btn::before {
    width: 5px;
    height: 40%;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
}

.water-btn::after {
    width: 50%;
    height: 5px;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
}
.water-btn{
    cursor: pointer;
}
hr {
    position: relative;
    top: 10px;
}

img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.title {
    color: white;
    width: 87%;
    position: relative;
    top: 59px;
    font-size: 30px;
    left: 68px;
}

.view-Details {
    color: #195d8d;
    position: relative;
    left: 79%;
}

.summarys {
    position: relative;
    color: white;
    font-size: 30px;
    top: 4%;
    left: 6%;
    width: 88%;
}
.water-record-ment{
    position: absolute ;
    color: white;
    font-size: 30px;
    top: 129%;
    left: 169px;
    width: 75%;
}

.bottle {
    position: relative;
    top: 35px;
    left: 35px;
    width: 100px;
    height: 130px;
    background-color: #d6d9de;
    border-radius: 0 0 50% 50%;
    overflow: hidden;
}

.bottle:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 30px;
    border-radius: 50% 50% 0 0;
}
.water-level {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #3498db; 
    transition: height 0.5s; 
}
.filled {
    background-color: #3498db; 
    height: 80%; 
}
.px-2 {
    padding-right: 2.5rem!important;
    padding-left: 2.5rem!important;
}
.morning-container,
.lunch-container,
.dinner-container{
    position: relative;
    border-bottom: solid 1px white;
    height: 24%;
}
.snack-container{
    position: relative;
    top: -233px;
}
.lunch-container{
    top: -77px;
}
.dinner-container{
    top: -155px;
}