<html lang="ko" mxlns:th="http://www.thymeleaf.org">

<head th:fragment="diaryFragmentHead">

    <head th:replace="~{/layout/header :: headerFragmentHead}"></head>
    <link rel="stylesheet" href="/styles/main/diary.css" />
    <link rel="stylesheet" href="/styles/main/water.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
    <script type="text/javascript" charset="utf-8"
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div id="root" data-max-fat=[[${session.fat}]] data-max-carbs=[[${session.carbs}]]
        data-max-protein=[[${session.protein}]]>
        <div class="container">
            <div id="header" th:replace="~{/layout/header :: headerFragment}"></div>
            <div class="summary">
                <div class="summary-main">
                    <div class="summarys">요약</div>
                    <div class="chart-style">
                        <canvas id="chart8"></canvas>
                        <div class="text-container">
                            <span id="width-text1s" th:text="${allKcal}"></span>
                            <span id="width-texts">g / [[${session.kcal}]]g</span>
                            <div class="center-ment">섭취한 칼로리</div>
                        </div>
                    </div>
                    <div class="width-cantainer">
                        <div class="width-chart0">
                            <div class="width-ment1">탄수화물</div>
                            <div class="width-chart-bar">
                                <div id=carbs-bar class="width-bar1"> </div>
                            </div>
                            <div class="carbohydrate">
                                <p><span id="width-text1s" th:text="${allCarbs}"></span></p>
                                <span id="width-text1">g / [[${session.carbs}]]g</span>
                            </div>
                        </div>
                        <div class="width-chart1">
                            <div class="width-ment2">단백질</div>
                            <div class="width-chart-bar">
                                <div class="width-bar1"> </div>
                            </div>
                            <div class="protein">
                                <p><span id="width-text1s" th:text="${allProtein}"></span></p>
                                <span id="width-text2">g / [[${session.protein}]]g</span>
                            </div>
                        </div>
                        <div class="width-chart2">
                            <div class="width-ment3">지방</div>
                            <div class="width-chart-bar">
                                <div class="width-bar1"> </div>
                            </div>
                            <div class="province">
                                <p><span id="width-text1s" th:text="${allFat}"></span></p>
                                <span id="width-text3"> g/ [[${session.fat}]]g</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nutrition-container">
                <div class="nutrition">
                    <div class="title-container">
                        <div class="title">영양
                            <a class="view-Details" href="/details" style="cursor: pointer;">상세정보</a>
                        </div>
                    </div>
                    <div class="morning-container">
                        <img src="styles/img/moning.png">
                        <div class="morning">아침
                        
                            <span id="morning" th:text="${caloriesSumGroup1 != null ? caloriesSumGroup1 + ' kcal' : '0kcal'}"></span>
                        </div>
                        <div class="moning-btn">
                            <a class="btn" id="morning-btn" th:href="@{/search(mealType=1)}"></a>
                        </div>
                    </div>
                    <div class="lunch-container">
                        <img src="styles/img/lunch.png">
                        <div class="lunch">점심
                            <span id="lunch" th:text="${caloriesSumGroup2 != null ? caloriesSumGroup2 + ' kcal' : '0kcal'}"></span>
                        </div>
                        <div class="lunch-btn">
                            <a class="btn" id="lunch-btn" th:href="@{/search(mealType=2)}"></a>
                        </div>
                    </div>
                    <div class="dinner-container">
                        <img src="styles/img/dinner.png">
                        <div class="dinner">저녁
                            <span id="dinner" th:text="${caloriesSumGroup3 != null ? caloriesSumGroup3 + ' kcal' : '0kcal'}"></span>
                        </div>
                        <div class="dinner-btn">
                            <a class="btn" id="dinner-btn" th:href="@{/search(mealType=3)}"></a>
                        </div>
                    </div>
                    <div class="snack-container">
                        <img src="styles/img/snack.png" style="top: 19px;">
                        <div class="snack">간식
                            <span id="snack" th:text="${caloriesSumGroup4 != null ? caloriesSumGroup4 + ' kcal' : '0kcal'}"></span>
                        </div>
                        <div class="snack-btn">
                            <a class="btn" id="snack-btn" th:href="@{/search(mealType=4)}"></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="water-record-container">
                <div class="water-record">
                    <div class="water-record-ment">물 추적기 하루 물 2L 섭취하기 클릭시 0.25L 씩 증가</div>
                    <div class="bottle">
                        <div class="water-level" id="water-level">
                            <a class="water-btn" type="button"></a>
                        </div>
                    </div>
                    <div class="bottle" id="bottle2"> 
                        <div class="water-level" id="water-level2">
                            <a class="water-btn2" type="button"></a>
                        </div>
                    </div>
                    <div class="bottle" id="bottle3">
                        <div class="water-level" id="water-level3">
                            <a class="water-btn3" type="button"></a>
                        </div>
                    </div>
                    <div class="bottle" id="bottle4">
                        <div class="water-level" id="water-level4">
                            <a class="water-btn4" type="button"></a>
                        </div>
                    </div>
                    <div class="bottle" id="bottle5">
                        <div class="water-level" id="water-level5">
                            <a class="water-btn5" type="button"></a>
                        </div>
                    </div>
                    <div class="bottle" id="bottle6">
                        <div class="water-level" id="water-level6">
                            <a class="water-btn6" type="button"></a>
                        </div>
                    </div>
                    <div class="bottle" id="bottle7">
                        <div class="water-level" id="water-level7">
                            <a class="water-btn7" type="button"></a>
                        </div>
                    </div>
                    <div class="bottle" id="bottle8">
                        <div class="water-level" id="water-level8">
                            <a class="water-btn8" type="button"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/chart.js"></script>
    <script src="/scripts/search.js"></script>
    <script src="/scripts/water.js"></script>
</body>

</html>