<html lang="ko" mxlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moring Page</title>
</head>
<body>
    <h1>morning Page</h1>

    <script>
        // localStorage에서 데이터 읽어오기
        var foodName = localStorage.getItem('foodName');
        var otherData = localStorage.getItem('otherData');

        // 데이터 사용 예시 (원하는 대로 적용)
        if (foodName && otherData) {
            console.log('Food Name:', foodName);
            console.log('Other Data:', otherData);

            // 예시: 페이지 내에 데이터를 표시하는 경우
            document.body.innerHTML += '<p>Food Name: ' + foodName + '</p>';
            document.body.innerHTML += '<p>Other Data: ' + otherData + '</p>';
        } else {
            console.log('No data available.');
        }
    </script>
</body>
</html>