<html lang="ko" mxlns:th="http://www.thymeleaf.org">

<head th:fragment="searchFragmentHead">
    <link rel="stylesheet" href="/styles/search.css" />
    <link rel="stylesheet" href="/styles/main/details.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>

<body>
    <div class="container">
        <div class="head">
            <!-- <h1>식단 공유하기</h1> -->
            <a class="arrow-prev" href="/diary" style="cursor: pointer; right: 488px;">
            </a>
        <div class="search-box">
            <input type="text" class="search-txt" name="" placeholder="제품명을 입력하세요.">
            <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>
    </div>
        <div class="lately"><h1>최근</h1></div>
        </div>

</body>

</html>