<html lang="ko" mxlns:th="http://www.thymeleaf.org">

<head th:fragment="searchFragmentHead">
    <link rel="stylesheet" href="/styles/search.css" />
    <link rel="stylesheet" href="/styles/main/details.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="head-container">
            <div class="head">
                <div class="search-box">
                    <input type="text" class="search-txt" name="" placeholder="제품명을 입력하세요.">
                    <a class="search-btn" onclick="performSearch()" style="cursor: pointer;">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="arrow-container">
                <a class="arrow-prev" href="/diary" style="cursor: pointer; right: 488px;">
                </a>
            </div>
        </div>

        <div class="lately">
            <h1>최근</h1>
        </div>
        <div class="search-results" id="searchResults">
            <h2>검색 결과</h2>
            <ul>
                <li th:each="food : ${searchResults}">
                    <span th:text="${food.foodName}"></span>
                </li>
            </ul>
        </div>
    </div>
    <script src="/scripts/search.js"></script>
</body>

</html>