<!DOCTYPE html>
<html lang="ko" mxlns:th="http://www.thymeleaf.org">

<head th:fragment="viewDetailsFragmentHead">
    <link rel="stylesheet" href="/styles/main/diary.css" />
    <link rel="stylesheet" href="/styles/main/details.css" />
</head>

<body>
    <div class="container">
        <div class="head-container">
            <div class="head">
                <h1>영양</h1>
            </div>
            <div class="arrow-container">
                <a class="arrow-prev" href="/diary" style="cursor: pointer;"></a>
                </div>
        </div>

    </div>
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    
        var foodName = getParameterByName('foodName');
        var otherData = getParameterByName('otherData');

    </script>
</body>
</html>