<html lang="ko" mxlns:th="http://www.thymeleaf.org">

<head th:fragment="viewDetailsFragmentHead">
    <link rel="stylesheet" href="/styles/main/diary.css" />
    <link rel="stylesheet" href="/styles/main/details.css" />
    <link rel="stylesheet" href="/styles/main/detail.css" />
</head>

<body>
    <div class="container">
        <div class="head-container">
            <div class="head">
                <h1>영양</h1>
            </div>
            <div class="arrow-container">
                <a class="arrow-prev" href="/diary" style="cursor: pointer;"></a>
            </div>
        </div>
        <hr/>
        <div class="mornings">
            <div class="morning-title">아침</div>
                <p>칼로리: <span th:text="${caloriesGroup1}"></span>g</p>
                <p>탄수화물: <span th:text="${carbsGroup1}"></span>g</p>
                <p>단백질: <span th:text="${proteinGroup1}"></span>g</p>
                <p>지방: <span th:text="${fatGroup1}"></span>g</p>
                <hr />
        </div>
        <div class="lunchs">
            <div class="lunch-title">점심</div>
                <p>칼로리: <span th:text="${caloriesGroup2}"></span>g</p>
                <p>탄수화물: <span th:text="${carbsGroup2}"></span>g</p>
                <p>단백질: <span th:text="${proteinGroup2}"></span>g</p>
                <p>지방: <span th:text="${fatGroup2}"></span>g</p>
                <hr />
        </div>
        <div class="dinners">
            <div class="dinner-title">저녁</div>
                <p>칼로리: <span th:text="${caloriesGroup3}"></span>g</p>
                <p>탄수화물: <span th:text="${carbsGroup3}"></span>g</p>
                <p>단백질: <span th:text="${proteinGroup3}"></span>g</p>
                <p>지방: <span th:text="${fatGroup3}"></span>g</p>
                <hr />
        </div>
        <div class="snacks">
            <div class="snack-title">간식</div>
                <p>칼로리: <span th:text="${caloriesGroup4}"></span>g</p>
                <p>탄수화물: <span th:text="${carbsGroup4}"></span>g</p>
                <p>단백질: <span th:text="${proteinGroup4}"></span>g</p>
                <p>지방: <span th:text="${fatGroup4}"></span>g</p>
        </div>
    </div>
</body>

</html>