<html lang="ko" mxlns:th="http://www.thymeleaf.org">

<head th:fragment="mypageFragmentHead">
    <link rel="stylesheet" href="/styles/main/diary.css" />
    <link rel="stylesheet" href="/styles/main/details.css" />
    <link rel="stylesheet" href="/styles/user/mypage.css" />
</head>

<body>
    <div class="container">
        <div class="head-container">
            <div class="head">
                <h1>내정보</h1>
            </div>
            <div class="arrow-container">
                <a class="arrow-prev" href="/diary" style="cursor: pointer;">
                </a>
            </div>
        </div>
        <div class="info-container">
            <div class="name" th:if="${session.userName != null}">[[${session.userName}]] 
            </div>
            <div class="birth-date" th:if="${session.age != null}">[[${session.age}]] (만)세
            </div>
            <div class="height" th:if="${session.height != null}">[[${session.height}]] cm
            </div>
            <div class="gender" th:if="${session.weight != null}">[[${session.weight}]] kg
            </div>
            <div class="logout">
                <form action="/logout" method="post" class="logout-form">
                <a><button class="logout-btn">로그아웃 </button></a>
            </form>
            </div>
        </div>
    </div>
</body>

</html>