<html lang="ko" mxlns:th="http://www.thymeleaf.org">

<head th:fragment="mypageFragmentHead">
    <link rel="stylesheet" href="/styles/main/diary.css" />
    <link rel="stylesheet" href="/styles/main/details.css" />
    <link rel="stylesheet" href="/styles/user/mypage.css" />
</head>

<body>
    <div class="container">
        <div class="head">
            <h1>내정보</h1>
        <a class="arrow-prev" href="/diary" style="cursor: pointer;">
        </a>
        </div>
        <div class="info-container">
            <div class="name">
                이름
            </div>
            <div class="gender">
                성별
            </div>
            <div class="birth-date">
                생년월일
            </div>
            <div class="height">
                키
            </div>
            <div class="logout">
                로그아웃
            </div>
        </div>
    </div>
</body>

</html>