#header{
    background: #337692;
    height: 85px;
}
.px-2 {
    padding-right: 2.5rem!important;
    padding-left: 2.5rem!important;
}
.btn-secondary{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 50%;
}