@charset "UTF-8";

body {
	margin: 0;
	background-color: black;
	display: flex;
	justify-content: center;
}

.root {
	background-color: black;
	width: 1280px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	font-size: 30px;
	color: white;
	width: 280px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.join {
	color: white;
	font-size: 20px;
	position: relative;
	top: 0px;
	width: 280px;
	height: 100px;
	right: -4px;
	text-align: center;
}

a {
	cursor: pointer;
}
a {
	color: white; /* 링크 색상 */
	text-decoration: none; /* 밑줄 제거 */
}

/* 방문한 링크 스타일 */
a:visited {
	color: white; /* 방문한 링크 색상 */
}

/* 마우스를 가져다 댔을 때 링크 스타일 */
a:hover {
	color: white; /* 호버 시 링크 색상 */
}

/* 클릭한 링크 스타일 */
a:active {
	color: white; /* 클릭 시 링크 색상 */
}
.icon{
	width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	top: -100px;
}
