body {
    margin: 0;
    background-color: #141414e8;
    display: flex;
    justify-content: center;
}

.container {
    background: #111926;
    width: 1024px;
    height: 99vh;
    border-radius: 5%;
    border: 2px solid white;

}

.arrow-prev {
    right: 488px;
}
.arrow-container{
    height: 5px;
}

.search-box {
    padding: 10px;
    position: relative;
    margin-top: 38px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    background-color: #fff;
    border: 1px solid #51e3d4;
    border-radius: 30px;
    transition: 0.4s;
    width: 500px;
}

.search-box:hover {
    box-shadow: 0px 0px .5px 1px #51e3d4;
}

.search-btn {
    text-decoration: none;
    float: right;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111926;
}

.search-box:hover>.search-btn {
    background-color: #fff;
}

.search-txt {
    display: flex;
    padding: 0;
    width: 90%;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    transition: .4s;
    margin-top: -10px;
}

.lately{
    background: #1e2a36;
    position: relative;
    top: 16%;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 100px;
}
#paginationControls {
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: white;
}

#paginationControls li {
    margin: 0 5px; 
}
#paginationControls li a {
    text-decoration: none;
    color: inherit; 
}

#searchResults{
    margin-top: 167px;
    color: white;
    font-size: 20px;
}
li {
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }